tests/*/*/*output
tests/*/*/*counter
tests/*/*/Makefile
tests/*/*/*.pge
tests/*counter
_build
*.native
*.bak
*.aux
*.bbl
*.blg
*.log
*.cmo
*.cmx
*.o
*.cmi
*.glob
*.vo
*.v.vd
*.out
*.pdf
*.toc
*.dvi
*.swp
simon/*/*.why
*.pge
*.sx
TAGS
autom4te.cache
config.status
configure
Makefile
version.ml
